<nav id='primary-navigation'>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "Blog", posts_path %>
      </li>
      <li>
        <%= link_to "Authors", authors_path %>
      </li>
      <div class= "pull-right">
        <% if current_author %>
          <li>
            Logged in as <%= link_to current_author.username, authors_path(current_author) %>

            <%= link_to "Sign Out", signout_path, method: :delete %>

          </li>
        <% else %>
          <li>
            <%= link_to 'Sign Up', signup_path %>
          </li>
          <li>
            <%= link_to 'Sign In', signin_path %>
          </li>
        <% end %>
      </div>
       <li>
        <%= Rails.env %>
      </li>
    </ul>
  </nav>