<h1>All my Sweet Posts <small> (<%= @posts.count %>) </small></h1>



<% @posts.each do |post| %>
<h2><%= post.title.titleize %></h2>
<h4><%= post.author_name %> - <%= time_tag(post.publish_at.to_date) %></h4>
<p><%= simple_format(post.body) %></p>
  
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', post %>


<% end %>
<br/>

<%= link_to 'New Post', new_post_path %>




